<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="notifi">
    <div class="tz-3">
        <h4>Notifications(5)</h4>
        <ul>
            <li>
                <a href="/home/developers_area"> <img src="/images/dev.png" alt=""/>
                    <h6>Developers</h6>
                    <p>Login and Registration Updated</p>
                </a>
            </li>
            <li>
                <a href="/home/developers_area"> <img src="/images/dev.png" alt=""/>
                    <h6>Developers</h6>
                    <p>Vendor Profile Added.</p>
                </a>
            </li>
            <li>
                <a href="/home/developers_area"> <img src="/images/dev.png" alt=""/>
                    <h6>Developers</h6>
                    <p>Edit Profile Function Added..</p>
                    <p style="color: red">But we have an issue with saving images</p>
                    <p>we'll fix it soon.</p>
                </a>
            </li>
            <li>
                <a href="/home/developers_area"> <img src="/images/dev.png" alt=""/>
                    <h6>Developers</h6>
                    <p>file missing issue fixed on login page..</p>
                    <p style="color: #0fb3b4">You are secured.</p>
                </a>
            </li>
            <li>
                <a href="/home/developers_area"> <img src="/images/sys.png" alt=""/>
                    <h6>System</h6>
                    <p>A cookie header was received [:0.9952373677070433:</p>
                    <p style="color: red">Restart Required.</p>
                </a>
            </li>
        </ul>
    </div>
</div>
</html>