<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="sidebar">
    <!--<div class="tz-l">-->
    <!--<div class="tz-l-1">-->
    <!--<ul>-->
    <!--<a href="/home/fileStorage">-->
    <!--<li><img src="/management/images/db-profile.jpg" alt="" id="prof" width="350" height="250"/></li>-->
    <!--</a>-->
    <!--</ul>-->
    <!--</div>-->
    <!--<div class="tz-l-2">-->
    <!--<ul>-->
    <!--<li>-->
    <!--<a href="/admin/home" class="tz-lma"><img src="/management/images/icon/dbl1.png" alt=""/> My-->
    <!--Dashboard</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="/admin/all/advertisements"><img src="/management/images/icon/dbl2.png" alt=""/> All Listing</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="/admin/db/add/listing"><img src="/management/images/icon/dbl3.png" alt=""/> Add New-->
    <!--Listing</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="/admin/db/message"><img src="/management/images/icon/dbl14.png" alt=""/> Messages(12)</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="/admin/db/reviews"><img src="/management/images/icon/dbl13.png" alt=""/> Reviews(05)</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="/admin/db/my_profile"><img src="/management/images/icon/dbl6.png" alt=""/> My Profile</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="/admin/db/post/advertisements"><img src="/management/images/icon/dbl11.png" alt=""/> Ad-->
    <!--Summary</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="/admin/db/payment"><img src="/management/images/icon/dbl9.png" alt=""> Check Out</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="/admin/db/invoice"><img src="/management/images/icon/db21.png" alt=""/> Invoice</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="/admin/db/claim"><img src="/management/images/icon/dbl7.png" alt=""/> Claim & Refund</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="/admin/db/settings"><img src="/management/images/icon/dbl210.png" alt=""/> Setting</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="/login"><img src="/management/images/icon/dbl12.png" alt=""/> Log Out</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</div>-->

    <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
                <a href="/admin/home" class="site_title"><i class="fa fa-paw"></i> <span>Directory</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
                <div class="profile_pic">
                    <img src="/app/images/img.jpg" id="prof" alt="..." class="img-circle profile_img">
                </div>
                <div class="profile_info">
                    <span>Welcome,</span>
                    <h2 id="welcome">John Doe</h2>
                </div>
            </div>
            <!-- /menu profile quick info -->

            <br/>

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                <div class="menu_section">
                    <h3>General</h3>
                    <ul class="nav side-menu">
                        <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Dashboard<span
                                class="label label-success pull-right">Coming Soon</span></a></li>

                        <li><a href="/admin/db/my_profile"><i class="fa fa-user"></i> Profile<span
                                class="label label-success pull-right">Finished</span> </a>

                        </li>

                        <li><a><i class="fa fa-bullhorn"></i> Advertisements <span
                                class="label label-success pull-right">Finished</span></a>
                            <ul class="nav child_menu">
                                <li><a href="/admin/db/add/listing">Add New</a></li>
                                <li><a href="/admin/all/advertisements">My Advertisements</a></li>
                            </ul>
                        </li>
                        <li><a href="/admin/db/packages"><i class="fa fa-list"></i> Packages<span
                                class="label label-success pull-right">Finished</span> </a>

                        </li>
                        <li><a href="/admin/db/image/gallery"><i class="fa fa-image"></i> Image Gallery<span
                                class="label label-danger pull-right">Closed</span> </a>

                        </li>
                        <li><a href="/admin/db/image/gallery"><i class="fa fa-comment"></i> Reviews<span
                                class="label label-danger pull-right">Closed</span> </a>

                        </li>
                        <li><a href="/admin/db/image/gallery"><i class="fa fa-money"></i> Payments<span
                                class="label label-danger pull-right">Closed</span> </a>

                        </li>
                        <li><a href="/admin/db/image/gallery"><i class="fa fa-wrench"></i> Settings<span
                                class="label label-danger pull-right">Closed</span> </a>

                        </li>
                    </ul>
                </div>
            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
                <a data-toggle="tooltip" data-placement="top" title="Settings">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                    <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="Lock">
                    <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="Logout" href="/login">
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                </a>
            </div>
            <!-- /menu footer buttons -->
        </div>
    </div>
</div>
</html>